{% extends 'base.html.twig' %}

{% block title %} Netflux {% endblock %}

{% block body %}

{% include "header.html.twig" %}

<div class="section-login">
    <div class="background"></div>
    <div class="gradient"></div>

    <div class="block-card-login">
        <div class="block-login">
            <h1 class="title-card-login">S'identifier</h1>
            
            <form action="#">
                <input type="text" class="form-control input-email">
                <p class="placeholder-email">E-mail ou numéro de téléphone</p>
                
                <input type="text" class="form-control input-password">
                <p class="placeholder-password">Mot de passe</p>
                <button class="btn btn-secondary w-100" type="button" id="button">S'identifier</button>

                <div class="form-end">
                    <div class="remember">
                        <input type="checkbox" checked>Se souvenir de moi
                    </div>
                    <div class="help">
                       <a href="#">Besoin d'aide ?</a> 
                    </div>
                </div>
            </form>

            <div class="other">
                <div class="facebook">
                    <img src="{{ asset('build/images/logo-fb.png') }}" alt="logo facebook">
                    S'identifier avec Facebook 
                </div>
                <div class="inscription">
                    <p>Première visite sur Netflux ? <a href="{{ path('home') }}">Inscrivez-vous</a>.</p>
                </div>
                <div class="captcha">
                    <p>Cette page est protégée par Google reCAPTCHA pour nous assurer que vous n'êtes pas un robot.</p>
                    <a class="link-captcha-info">En savoir plus.</a>
                </div>

                <div class="captcha-info">
                    <p>Les informations collectées par Google reCAPTCHA sont soumises aux <a href="#">Règles de confidentialité</a> et <a href="#">Conditions d'utilisation</a>
                    de Google, et sont utilisées pour fournir, maintenir et améliorer le service reCAPTCHA, ainsi qu'à des fins de sécurité générale 
                    (elles ne sont pas utilisées pour les publicités personnalisées par Google).</p>
                </div>
            </div>
        </div>
    </div> 
</div>

{% include "footer.html.twig" %}

{% endblock %}