<div class="container-fluid p-0">
   <header>
        <nav>
            <div class="img"><img src="{{ asset('build/images/logo-netflux-full.png')}}" alt="logo netflux"></div>

            <div class="group-btn">
                <button class="btn btn-dark btn-lang"><i class="bi bi-globe"></i>Français<i class="bi bi-caret-down-fill"></i></button>
                <button class="btn btn-danger btn-login">S'identifier</button>
            </div>
        </nav>
   </header>
</div>